ion-toolbar {
  --background: #1b4a8b; 
  --color: white;
}

.cinemex-background {
  --background: #f2f2f2; // Gris claro de fondo
}

ion-card-title {
  color: #1b4a8b; 
  font-weight: bold;
  font-size: 1.2rem;
}

ion-card {
  border-radius: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
