// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-nova: #1b4a8b;
  --ion-color-nova-rgb: 227, 6, 19;

  --ion-color-nova-contrast: #ffffff;
  --ion-color-nova-contrast-rgb: 255, 255, 255;

  --ion-color-nova-shade: #1b4a8b;
  --ion-color-nova-tint: #1b4a8b;
}

